<div class="container" id="content">
<p id="notice"><%= notice %></p>
<div id="mainz" class="row newSomething ">
        <div class="col-sm-6 col-md-4 col-lg-4 showCard">
        <br>
<h1>Edit Info:</h1>

<%= render 'form', cohort: @cohort %>

<%= link_to 'Show', @cohort %> |
<%= link_to 'Back', cohorts_path %>

</div>
</div>
</div>





