

<div class="container" id="content">
<div id="mainz" class="row newSomething">
    <div class="col-sm-6 col-lg-6">
    <h1>New Enrollment</h1>

<%= render 'form', enrollment: @enrollment %>

<%= link_to 'Back', enrollments_path %>
           
        
    </div>
</div>


</div>


