@import "bootstrap";

/* #classModal {} *= require dataTables/jquery.dataTables
 */

.modal-body {
    overflow-x: auto;
  }
  
  #blah{
      margin: 0 auto;
  }
  
  #xModal {
      position: absolute;
      right: 5%;
  }
  
  @media only screen and (max-width: 600px) {
      .cohortName {
          display: none;
      }
  }
  
  .sorting_1{
      color: #2f4b63;
      font-weight: 700;
  }
  
  /* .custom-select {
      color: #0aa89e;
      /* background: black; *= require dataTables/jquery.dataTables
 */
  
    .courseTitle{
      /* background: rgba(0, 238, 255, 0.301); *= require dataTables/jquery.dataTables
 */
      /* background: white; *= require dataTables/jquery.dataTables
 */
      font-size: 22px;
      color: black;
      /* text-shadow:
      -1px -1px 0 purple,
    -1px -1px 0 purple,  
     1px -1px 0 purple,
     -1px 1px 0 purple,
      1px 1px 0 purple; *= require dataTables/jquery.dataTables
 */
      /* font-size: 30px; *= require dataTables/jquery.dataTables
 */
      
    }
  
    .courseTitle:hover {
      color: rgba(46, 4, 255, 0.509); 
      text-decoration: underline;
    }
  
    .btn {
      /* background: rgba(0, 238, 255, 0.301);  *= require dataTables/jquery.dataTables
 */
      /* color: rgb(71, 57, 220); *= require dataTables/jquery.dataTables
 */
      /* background: rgba(215, 17, 103, 0.783); 
      background: rgba(198, 17, 215, 0.317);  *= require dataTables/jquery.dataTables
 */
      /* background: rgba(18, 182, 3, 0.317);  *= require dataTables/jquery.dataTables
 */
      color: black;
      border: 2px solid rgb(0, 238, 255);
      /* border-radius: 80%; *= require dataTables/jquery.dataTables
 */
  
      background: white;
  
    }
  
    .btn:hover {
      background: rgba(198, 17, 215, 0.591);
      background: rgba(46, 4, 255, 0.509);  
      color: black;
      border: 2px solid rgb(0, 238, 255);
    }
  
    #example {
        background: rgba(167, 36, 82, 0.441);
        background: linear-gradient(to right, #eac608 9%, #00ffff 100%);
        background: linear-gradient(to left, #eac608 9%, #00ffff 100%);
        background: linear-gradient(to left, #eac40885 9%, #00ffff5a 100%);
        background: linear-gradient(to left, #eac4083a 9%, #00ffff5a 100%);
        background: linear-gradient(to left, #eac40815 100%, #95909600 20%);
       
      }
  
    .tableFontColor {
        /* color: rgb(69, 52, 52);
        color: rgb(186, 43, 43); *= require dataTables/jquery.dataTables
 */
    }
  
    /* .fa-trash {
        width: 200px;
    } *= require dataTables/jquery.dataTables
 */
  
    #secondColorText {
       color: rgb(57, 201, 163);
       color: white;
       /* color: rgba(198, 17, 215, 0.591); *= require dataTables/jquery.dataTables
 */
       /* color: white; *= require dataTables/jquery.dataTables
 */
       -webkit-text-stroke: 1px black;
       /* color: white; *= require dataTables/jquery.dataTables
 */
       text-shadow:
           3px 3px 0 rgba(198, 17, 215, 0.591),
         -1px -1px 0 rgba(198, 17, 215, 0.591),  
          1px -1px 0 rgba(198, 17, 215, 0.591),
          -1px 1px 0 rgba(198, 17, 215, 0.591),
           1px 1px 0 rgba(198, 17, 215, 0.591);
    }
  
    #headz {
      height: 100px;
      width: 95%;
      background: rgba(20, 17, 186, 0.454);
      background: rgba(20, 17, 186, 0.171);
      background: linear-gradient(to right, white 66%, #00ffff41 100%);
      
      /* background: linear-gradient(to right, rgba(173, 237, 23, 0.589) 66%, #00ffff41 100%); *= require dataTables/jquery.dataTables
 */
      
      left: 20px;
      
      
      position: absolute;
      top: 0;
      text-align: center;
      font-size: 60px;  
      z-index: -99;
     font-family: 'Fugaz One', cursive;
      /* font-family: 'Fredericka the Great', cursive;  *= require dataTables/jquery.dataTables
 */
      border: 4px solid black;;
      text-shadow: 3px 3px 7px rgba(150, 150, 150, 1);
      /* border-radius: 1%; *= require dataTables/jquery.dataTables
 */
      
      /* color: white;
   text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;  *= require dataTables/jquery.dataTables
 */
      /* font-family: 'Freckle Face', cursive; *= require dataTables/jquery.dataTables
 */
      
  
  
  }
  
  .wrapper {
      display: flex;
      width: 100%;
      align-items: stretch;
  }
  
  
  #sidebar {
      min-width: 250px;
      max-width: 250px;
      background: rgba(17, 186, 169, 0.804);
      background: rgb(0, 238, 255);
      background: rgba(0, 238, 255, 0.795);
      /* background: rgba(165, 139, 136, 0.795); *= require dataTables/jquery.dataTables
 */
  
      min-height: 95vh;
      position: absolute;
      top: 20px;
      border-top-left-radius: 25%;
      border-top-right-radius: 25%;
      margin-left: 20px;
      /* background: #70c1c25e; *= require dataTables/jquery.dataTables
 */
      /* opacity: .7; *= require dataTables/jquery.dataTables
 */
      
  }
  
  #sidebar.active {
      margin-left: -250px;
  }
  
  body {
      background: white;
  }
  
  a[data-toggle="collapse"] {
      position: relative;
  }
  
  .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }
  
  #content {
      margin-top: 100px;
      margin-left: 300px;
      /* margin: auto; *= require dataTables/jquery.dataTables
 */
      /* margin-right: 200px;
      margin-left: 300px; *= require dataTables/jquery.dataTables
 */
      /* align-items: stretch; *= require dataTables/jquery.dataTables
 */
  }
  
  .sidebar-header {
      color: white;
      background: rgba(0, 0, 0, 0.81);
      
      /* background: rgb(0, 0, 0, .88); *= require dataTables/jquery.dataTables
 */
      box-shadow: 20px 20px rgba(198, 17, 215, 0.591); 
      /* box-shadow: 10px 20px rgba(198, 17, 215, 0.591); 
      box-shadow: 2px 2px rgba(198, 17, 215, 0.466);  *= require dataTables/jquery.dataTables
 */
      /* border: 5px solid rgba(198, 17, 215, 0.466);   *= require dataTables/jquery.dataTables
 */
      /* border-radius: 5%; *= require dataTables/jquery.dataTables
 */
      justify-content: center;
      position: relative;
     height: 500px;
     /* border-radius: 30%; *= require dataTables/jquery.dataTables
 */
  }
  
  #mainz{
      /* margin: auto; *= require dataTables/jquery.dataTables
 */
      /* display: flex; *= require dataTables/jquery.dataTables
 */
      width: 80vw;
      padding-right: 120px;
      /* margin-left: 30px; *= require dataTables/jquery.dataTables
 */
  }
  
  @media (max-width: 600px) {
      #sidebar {
          margin-left: -250px;
      }
      #sidebar.active {
          margin-left: 0;
      }
      #content {
          margin-left: 0;
      }
      .sidebar-header{
          box-shadow: 0px 0px red; 
      }
      #mainz {
          width: 100vw;
          padding-right: 0px;
      }
  }
  
  /*
      ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
  *= require dataTables/jquery.dataTables
 */
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  
  
  body {
      font-family: 'Poppins', sans-serif;
      background: #fafafa;
  }
  
  p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
  }
  
  a, a:hover, a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
  }
  
  #sidebar {
      /* don't forget to add all the previously mentioned styles here too *= require dataTables/jquery.dataTables
 */
      /* background: rgba(17, 186, 169, 0.804); *= require dataTables/jquery.dataTables
 */
      /* border: 40px solid rgba(0, 0, 0, 0.87);
      border-top: 35px solid rgba(0, 0, 0, 0.87);
      border-bottom: 20px solid rgba(0, 0, 0, 0.87);
      border-right: 20px solid rgba(0, 0, 0, 0.87); *= require dataTables/jquery.dataTables
 */
      
      /* background: rgba(17, 186, 169, 0.356); *= require dataTables/jquery.dataTables
 */
      /* color: rgb(86, 73, 171); *= require dataTables/jquery.dataTables
 */
      transition: all 0.3s;
      
  }
  
  #sidebar .sidebar-header {
      padding: 0px;
      height: 200px;
      /* background: rgba(17, 186, 169, 0.804); *= require dataTables/jquery.dataTables
 */
      text-align: left;
      
  }
  
  
  
  #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
  }
  
  #sidebar ul p {
      color: #fff;
      padding: 10px;
  }
  
  #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
  }
  #sidebar ul li a:hover {
      /* color: #7386D5; *= require dataTables/jquery.dataTables
 */
      background: #fff;
  }
  
  #sidebar ul li.active > a, a[aria-expanded="true"] {
      color: #fff;
      /* background: #6d7fcc; *= require dataTables/jquery.dataTables
 */
  }
  ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      /* background: #6d7fcc; *= require dataTables/jquery.dataTables
 */
  }
  
  #lefty {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  #students{
      
      background: pink;
  }
  
  #backs {
      background: pink;
  }
  
  #title {
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Special Elite', cursive;
  /* /* font-family: 'Fugaz One', cursive; *= require dataTables/jquery.dataTables
 */
  /* font-family: 'Fredericka the Great', cursive; *= require dataTables/jquery.dataTables
 */
  /* font-family: 'Freckle Face', cursive; *= require dataTables/jquery.dataTables
 */
  /* font-size: 36px; *= require dataTables/jquery.dataTables
 */
  /* columns: white; *= require dataTables/jquery.dataTables
 */
  
  
  
  }
  
  
  
  #pic {
      z-index: 99;
      height: 200px;
      width: 200px;
      /* height: 100%;
      width: auto; *= require dataTables/jquery.dataTables
 */
  }
  
  body {
      font-family: 'Baloo Tammudu', cursive;
  }
  
  .paginate_button {
      background: black;
  }
  
  .page-item {
  
      background: black;
  
  }
  
  #example_previous {
      background-color: black;
  }
  
  .previous {
      background-color: black;
  }
  
  #shit {
      position: absolute;
      
      border-radius: 50%;
      top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 12px outset rgb(170, 255, 0);
  border: 2px outset black;
  
  
      
  
  }
  
  /* @keyframes rotate {
      0% {transform: rotate(0deg);}
      50% {transform: rotate(1deg);}
      100% {transform: rotate(0deg);}
  } *= require dataTables/jquery.dataTables
 */
  
  @keyframes spin { 
  0% {transform: rotateX(0deg) rotateY(0deg);}
  50%{transform: rotateX(10deg) rotateY(90deg);}
  90% {transform: rotateX(5deg) rotateY(0deg);}
  }
  
  #shitContainer {
      /* height: 40px; *= require dataTables/jquery.dataTables
 */
      position: absolute;
      top: 49px;
      right: 8%;
     
      
     
  
      
  }
  
  #shitContainer:hover {
      z-index: 9999999;
      border-radius: 50%;
      animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: 1;
  /* z-index: 99; *= require dataTables/jquery.dataTables
 */
  animation: spin 1200ms 1 steps(80);
  transform-style: preserve-3d;
  }
  
  .fas .fab {
      color: rgb(36, 25, 155);
      
  }
  
  .fa-stroopwafel:hover{
      color: rgba(46, 4, 255, 0.509); 
  }
  
  .fa-edit:hover {
      color: rgba(46, 4, 255, 0.509); 
  }
  
  
  
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
      background-color: white;
   }
  
   #titleContainer {
       /* width: 450px; *= require dataTables/jquery.dataTables
 */
       /* height: auto; *= require dataTables/jquery.dataTables
 */
       /* border: .5px dotted rgb(0, 0, 0); *= require dataTables/jquery.dataTables
 */
       /* margin: auto; *= require dataTables/jquery.dataTables
 */
       /* background: black; *= require dataTables/jquery.dataTables
 */
       /* align-self: center; *= require dataTables/jquery.dataTables
 */
       /* z-index: 999999999999999; *= require dataTables/jquery.dataTables
 */
       /* background: #70c1c2ab; *= require dataTables/jquery.dataTables
 */
       /* border-radius: 100%; *= require dataTables/jquery.dataTables
 */
       /* background: rgba(163, 146, 46, 0.18);
       background: rgba(46, 132, 163, 0.105);
       background: rgba(46, 132, 163, 0.105);
       background: linear-gradient(to bottom right, #b149ff 41%, #00ffff 34%);
       background: linear-gradient(to bottom right, #b149ff 48%, #00ffff 34%); *= require dataTables/jquery.dataTables
 */
       
       /* background: linear-gradient(to bottom right, #b149ff 48%, #2ebf76b5 34%); *= require dataTables/jquery.dataTables
 */
       /* background: linear-gradient(to bottom right, rgba(198, 17, 215, 0.591) 48%, #00ffff 34%); *= require dataTables/jquery.dataTables
 */
       /* background: rgba(0, 0, 0, 0.81); *= require dataTables/jquery.dataTables
 */
       /* background: rgb(0, 0, 0, .88); *= require dataTables/jquery.dataTables
 */
       /* box-shadow: 20px 20px rgba(198, 17, 215, 0.591);  *= require dataTables/jquery.dataTables
 */
   }
  
   .newSomething{
       padding: 20px;
   }
  
  
  
   .showBorder {
       border-right: 1px dotted black;
   }
  
   .showBorder2 {
      border: 5px dotted black;
      margin-left: 10px;
  }
  
   
  
   .login {
       margin: auto;
       margin-left: 16%;
       margin-top: 3%;
       /* background: rgba(103, 220, 255, 0.27); *= require dataTables/jquery.dataTables
 */
       background: rgba(173, 237, 23, 0.612);
       background: linear-gradient(to top, rgba(160, 18, 153, 0.397) 0%, #00ffff41 100%);
       border: 15px inset black;
       border-radius: 2%;
   }
  
   .showCard {
      background: linear-gradient(to top, rgba(160, 18, 153, 0.397) 0%, #00ffff41 100%);
      border: 15px inset black;
      border-radius: 2%;
   }
  
   #login {
       color: rgb(222, 103, 123);
       
   }
  
   .purpleFont {
      color: rgba(76, 26, 156, 0.783);
   }
  
   .centerVert {
      margin-top: 20px;
  }